{"openapi":"3.0.3","info":{"title":"SAR-API - OneAtlas Radar","version":"2.7.0","contact":{"email":"dl-geo-webservices@airbus.com"},"description":"REST API to search, order and access TerraSAR and PAZ Data (Radar API)<br/>\nThose commands can be used to test and understand the services provided by the APIs. You can use them in a third party application such as Postman.\n"},"tags":[{"name":"user","description":"Endpoint for generic user information.\n"},{"name":"sar/config","description":"Endpoint for SAR specific user configuration.\n"},{"name":"sar/search","description":"Endpoint to search for possible SAR acquisitions.\n"},{"name":"sar/prices","description":"Query the price of an SAR acquisition.\n"},{"name":"sar/editing","description":"Endpoint to modify an SAR acquisition.\n"},{"name":"sar/baskets","description":"Handle your baskets to order SAR acquisitions.\n"},{"name":"sar/monitoring","description":"Monitor your ordered SAR acquisitions.\n"}],"servers":[{"url":"https://sar.api.oneatlas.airbus.com/v1","description":"PROD - via OneAtlas"},{"url":"https://dev.sar.api.oneatlas.airbus.com/v1","description":"DEV - via OneAtlas"},{"url":"https://sar.api.intelligence.airbus.com/v1","description":"PROD - via Legacy Account"},{"url":"https://dev.sar.api.intelligence.airbus.com/v1","description":"DEV - via Legacy Account"}],"paths":{"/user/whoami":{"get":{"summary":"Return account information of the current user","tags":["user"],"responses":{"200":{"description":"Basic account information","content":{"application/json":{"schema":{"type":"object","properties":{"username":{"type":"string","description":"Unique account name","example":"john.doe@company.com"},"contract_type":{"type":"string"},"pw_change_needed":{"type":"boolean","description":"This flag is set if the password has been (re)set by the system or flagged for some other reason (e.g. if security standards have changed). It is unrelated to the password expiration date."},"pw_expiration_date":{"type":"string","format":"date","description":"If the password of this account is set to expire, this is the end date (included) until which the password can be used to log in without being changed"},"expiration_date":{"type":"string","format":"date","nullable":true,"description":"End date (included) until which the user is able to log in"},"services":{"type":"array","items":{"type":"string","example":"radar","enum":["radar","worlddem","mgmt"],"description":"The service identifier"},"example":["radar","worlddem"]},"registration_status":{"type":"string","enum":["pending","in_progress","completed"],"description":"This flag is only set if the account isn't fully registered"},"oneatlas_username":{"type":"string","description":"Account username in OneAtlas","example":"john.doe@company.com","nullable":true}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}}}}},"/user/password":{"post":{"summary":"Change account password","tags":["user"],"parameters":[{"in":"query","name":"token","schema":{"type":"string"},"description":"A Token used as substitute of 'oldPassword' (e.g. for a password reset). Note: you might need to set 'oldPassword' to an empty string.","example":"A1B2C3D4E5F6A1B2C3D4E5F6"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"oldPassword":{"type":"string","format":"byte","description":"Base64 encoded Password. The plain text Password must have a minimal length of 15 characters, lower and uppercase letters, at least one number and special character.","example":"YWJDRDEyMzQh"},"password":{"type":"string","format":"byte","description":"Base64 encoded Password. The plain text Password must have a minimal length of 15 characters, lower and uppercase letters, at least one number and special character.","example":"YWJDRDEyMzQh"}},"required":["password"],"additionalProperties":false}}}},"responses":{"204":{"description":"Password changed successfully"},"400":{"description":"Error details + info about the parameter(s)","content":{"application/json":{"schema":{"allOf":[{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]},{"type":"object","properties":{"parameters":{"type":"array","items":{"type":"object","properties":{"reason":{"type":"string","description":"Human-readable explanation of the error.","example":"Parameter is missing"},"name":{"type":"string","description":"Parameter name.","example":"email"},"path":{"type":"string","description":"JSONPath expression related to parameter.","example":"$.contact.email"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"}}}}}]}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"503":{"description":"Service is temporarily unavailable","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}},"headers":{"Retry-After":{"schema":{"oneOf":[{"type":"number"},{"type":"string"}]}}}}}}},"/user/password/reset":{"post":{"summary":"Requests a password reset","tags":["user"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"username":{"type":"string","description":"Unique account name","example":"john.doe@company.com"},"service":{"type":"string","example":"radar","enum":["radar","worlddem","mgmt"],"description":"The service identifier"}},"required":["username"],"additionalProperties":false}}}},"responses":{"204":{"description":"Password reset initiated"},"400":{"description":"Error details + info about the parameter(s)","content":{"application/json":{"schema":{"allOf":[{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]},{"type":"object","properties":{"parameters":{"type":"array","items":{"type":"object","properties":{"reason":{"type":"string","description":"Human-readable explanation of the error.","example":"Parameter is missing"},"name":{"type":"string","description":"Parameter name.","example":"email"},"path":{"type":"string","description":"JSONPath expression related to parameter.","example":"$.contact.email"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"}}}}}]}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"503":{"description":"Service is temporarily unavailable","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}},"headers":{"Retry-After":{"schema":{"oneOf":[{"type":"number"},{"type":"string"}]}}}}}}},"/user/notifications":{"get":{"summary":"Retrieve list of notifications","tags":["notifications"],"parameters":[{"in":"query","name":"service","schema":{"type":"string","example":"radar","enum":["radar","worlddem","mgmt"],"description":"The service identifier"},"description":"service filter for the notifications, also returns notifications without any service (because they are service wide)"},{"in":"query","name":"tag","schema":{"type":"string","enum":["maintenance","feature"]},"description":"tag filter for the notifications"}],"responses":{"200":{"description":"List of notifications","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},{"allOf":[{"type":"object","properties":{"title":{"type":"string","description":"The title of this notification (plain text)","example":"My Title"},"tag":{"type":"string","enum":["maintenance","feature"]},"body":{"type":"string","example":"This is an <b>example</b> notification for more information <a href='example.com'>click here</a>.","description":"The text of the notification (can include simple html elements)","maxLength":1000},"service":{"allOf":[{"type":"string","example":"radar","enum":["radar","worlddem","mgmt"],"description":"The service identifier"},{"description":"The service this notification is linked to. Notifications without a service are treated to be valid for all services."}]},"begin":{"type":"string","description":"The time the notification is active. This is the start of a planned maintenance slot for notifications with the corresponding tag.","format":"date-time"},"end":{"type":"string","description":"The time the notification becomes inactive. This is the end of a planned maintenance slot for notifications with the corresponding tag.","format":"date-time"}}},{"type":"object","properties":{"timestamp":{"type":"string","description":"The creation time of this notification","format":"date-time"}}}]},{"type":"object","properties":{"status":{"type":"string","enum":["read","unread"]}}}]}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"503":{"description":"Service is temporarily unavailable","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}},"headers":{"Retry-After":{"schema":{"oneOf":[{"type":"number"},{"type":"string"}]}}}}}}},"/user/notifications/{notificationId}":{"parameters":[{"in":"path","name":"notificationId","schema":{"type":"string","format":"uuid"},"required":true,"description":"Notification ID"}],"patch":{"summary":"Update notification","tags":["notifications"],"requestBody":{"description":"Notification update","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["read","unread"]}},"required":["status"],"additionalProperties":false}}}},"responses":{"200":{"description":"Notification has been updated successfully","content":{"application/json":{"schema":{"allOf":[{"allOf":[{"type":"object","properties":{"title":{"type":"string","description":"The title of this notification (plain text)","example":"My Title"},"tag":{"type":"string","enum":["maintenance","feature"]},"body":{"type":"string","example":"This is an <b>example</b> notification for more information <a href='example.com'>click here</a>.","description":"The text of the notification (can include simple html elements)","maxLength":1000},"service":{"allOf":[{"type":"string","example":"radar","enum":["radar","worlddem","mgmt"],"description":"The service identifier"},{"description":"The service this notification is linked to. Notifications without a service are treated to be valid for all services."}]},"begin":{"type":"string","description":"The time the notification is active. This is the start of a planned maintenance slot for notifications with the corresponding tag.","format":"date-time"},"end":{"type":"string","description":"The time the notification becomes inactive. This is the end of a planned maintenance slot for notifications with the corresponding tag.","format":"date-time"}}},{"type":"object","properties":{"timestamp":{"type":"string","description":"The creation time of this notification","format":"date-time"}}}]},{"type":"object","properties":{"status":{"type":"string","enum":["read","unread"]}}}]}}}},"400":{"description":"Error details + info about the parameter(s)","content":{"application/json":{"schema":{"allOf":[{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]},{"type":"object","properties":{"parameters":{"type":"array","items":{"type":"object","properties":{"reason":{"type":"string","description":"Human-readable explanation of the error.","example":"Parameter is missing"},"name":{"type":"string","description":"Parameter name.","example":"email"},"path":{"type":"string","description":"JSONPath expression related to parameter.","example":"$.contact.email"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"}}}}}]}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"404":{"description":"Error details + info about the notification","content":{"application/json":{"schema":{"allOf":[{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]},{"type":"string","format":"uuid"}]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"503":{"description":"Service is temporarily unavailable","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}},"headers":{"Retry-After":{"schema":{"oneOf":[{"type":"number"},{"type":"string"}]}}}}}},"delete":{"summary":"Delete notification (maintenance notifications cannot be deleted)","tags":["notifications"],"responses":{"204":{"description":"Notification has been removed successfully"},"400":{"description":"Error details + info about the parameter(s)","content":{"application/json":{"schema":{"allOf":[{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]},{"type":"object","properties":{"parameters":{"type":"array","items":{"type":"object","properties":{"reason":{"type":"string","description":"Human-readable explanation of the error.","example":"Parameter is missing"},"name":{"type":"string","description":"Parameter name.","example":"email"},"path":{"type":"string","description":"JSONPath expression related to parameter.","example":"$.contact.email"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"}}}}}]}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"404":{"description":"Error details + info about the notification","content":{"application/json":{"schema":{"allOf":[{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]},{"type":"string","format":"uuid"}]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}}},"503":{"description":"Service is temporarily unavailable","content":{"application/json":{"schema":{"description":"RFC-7807 Problem Details","type":"object","properties":{"type":{"type":"string","description":"URI reference that identifies the problem type.","example":"/problems/example-problem"},"title":{"type":"string","description":"Human-readable summary of the problem type. Should not change from occurrence to occurrence of the problem.","example":"Some error occurred"},"status":{"type":"integer","description":"HTTP status code associated with the problem type.","example":418},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"A specific problem occurred during this example"},"instance":{"type":"string","description":"URI reference that identifies the specific occurrence of the problem.","example":"/resource/12345/msgs/abc"}},"additionalProperties":{"description":"Extension Key/Value-Pairs"},"required":["type","title"]}}},"headers":{"Retry-After":{"schema":{"oneOf":[{"type":"number"},{"type":"string"}]}}}}}}},"/sar/config":{"get":{"summary":"retrieve entire configuration","tags":["sar/config"],"responses":{"200":{"description":"omnibus configuration","content":{"application/json":{"schema":{"type":"object","properties":{"permissions":{"type":"object","properties":{"acquisitionOnly":{"type":"boolean"},"leftLooking":{"type":"boolean"},"outOfFullPerformance":{"type":"boolean"},"PAZ":{"type":"boolean"},"cancellation":{"type":"boolean"}},"required":["acquisitionOnly","leftLooking","outOfFullPerformance","PAZ"]},"receivingStations":{"type":"array","items":{"description":"Downlink station to use for direct-access customers","type":"string","default":"NSG_POOL","example":"NSG_POOL"}},"orderTemplates":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"default":{"type":"boolean"}}}},"customers":{"type":"array","description":"customers information for resellers (only relevant for resellers)","items":{"allOf":[{"type":"object","properties":{"name":{"type":"string","description":"name of the user's end customer (only relevant for resellers)"},"description":{"type":"string"}}},{"type":"object","properties":{"orderTemplates":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"default":{"type":"boolean"}}}}}}]}},"associations":{"type":"array","items":{"type":"string"}},"settings":{"type":"object","properties":{"premiumNRT":{"type":"boolean"},"priceInformation":{"type":"boolean"}}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"503":{"description":"Connection to internal service error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}}}}},"/sar/config/orderTemplates":{"get":{"summary":"retrieve list of order templates","tags":["sar/config"],"responses":{"200":{"description":"list of order templates","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"default":{"type":"boolean"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"503":{"description":"Connection to internal service error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}}}}},"/sar/config/permissions":{"get":{"summary":"get user permissions","tags":["sar/config"],"responses":{"200":{"description":"user permissions","content":{"application/json":{"schema":{"type":"object","properties":{"acquisitionOnly":{"type":"boolean"},"leftLooking":{"type":"boolean"},"outOfFullPerformance":{"type":"boolean"},"PAZ":{"type":"boolean"},"cancellation":{"type":"boolean"}},"required":["acquisitionOnly","leftLooking","outOfFullPerformance","PAZ"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"503":{"description":"Connection to internal service error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}}}}},"/sar/config/receivingStations":{"get":{"summary":"get allowed receiving stations","tags":["sar/config"],"responses":{"200":{"description":"list of receiving stations","content":{"application/json":{"schema":{"type":"array","items":{"description":"Downlink station to use for direct-access customers","type":"string","default":"NSG_POOL","example":"NSG_POOL"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"503":{"description":"Connection to internal service error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}}}}},"/sar/config/customers":{"get":{"summary":"get customers","tags":["sar/config"],"responses":{"200":{"description":"list of customers","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"type":"object","properties":{"name":{"type":"string","description":"name of the user's end customer (only relevant for resellers)"},"description":{"type":"string"}}},{"type":"object","properties":{"orderTemplates":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"default":{"type":"boolean"}}}}}}]}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"503":{"description":"Connection to internal service error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}}}}},"/sar/config/associations":{"get":{"summary":"get associated users","tags":["sar/config"],"responses":{"200":{"description":"list of associated users","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"503":{"description":"Connection to internal service error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}}}}},"/sar/config/settings":{"get":{"summary":"get user settings","tags":["sar/config"],"responses":{"200":{"description":"user settings","content":{"application/json":{"schema":{"type":"object","properties":{"premiumNRT":{"type":"boolean"},"priceInformation":{"type":"boolean"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"503":{"description":"Connection to internal service error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}}}}},"/sar/feasibility":{"post":{"summary":"search for possible acquisitions for tasking","tags":["sar/search"],"requestBody":{"description":"Search parameters","required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["aoi","time","feasibilityLevel","sensorMode"],"properties":{"aoi":{"oneOf":[{"allOf":[{"description":"Polygon for feasibility search"},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Polygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}},"example":{"type":"Polygon","coordinates":[[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]}}]},{"allOf":[{"description":"MultiPolygon for feasibility search"},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["MultiPolygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}}},"example":{"type":"MultiPolygon","coordinates":[[[[8.346,47.788],[8.291,47.644],[8.538,47.592],[8.62,47.75],[8.511,47.802],[8.346,47.788]],[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]]}}]},{"allOf":[{"description":"Point for feasibility search"},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Point"]},"coordinates":{"type":"array","minLength":2,"items":{"type":"number"}}},"example":{"type":"Point","coordinates":[9.346,47.788]}}]},{"allOf":[{"description":"GeometryCollection for feasibility search"},{"type":"object","required":["type","geometries"],"properties":{"type":{"type":"string","enum":["GeometryCollection"]},"geometries":{"type":"array","minLength":1,"items":{"oneOf":[{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Point"]},"coordinates":{"type":"array","minLength":2,"items":{"type":"number"}}},"example":{"type":"Point","coordinates":[9.346,47.788]}},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Polygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}},"example":{"type":"Polygon","coordinates":[[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]}},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["MultiPolygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}}},"example":{"type":"MultiPolygon","coordinates":[[[[8.346,47.788],[8.291,47.644],[8.538,47.592],[8.62,47.75],[8.511,47.802],[8.346,47.788]],[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]]}}]}}}}]}]},"time":{"allOf":[{"description":"Time range for feasibility search"},{"allOf":[{"type":"object","additionalProperties":false,"properties":{"from":{"type":"string","format":"date-time","example":"2021-10-14T13:28:03.569Z"},"to":{"type":"string","format":"date-time","example":"2021-10-24T13:28:03.569Z"}}},{"required":["from","to"]}]}]},"mission":{"oneOf":[{"description":"Array of Satellite missions","type":"array","items":{"type":"string","enum":["TSX","PAZ"]},"default":["TSX","PAZ"],"example":["TSX","PAZ"]},{"description":"Satellite mission","type":"string","default":"all","enum":["TSX","PAZ","all"]}]},"priority":{"description":"Higher priority orders have a better chance of success but incur an additional fee","type":"string","enum":["standard","priority","exclusive"],"example":"standard"},"feasibilityLevel":{"description":"Level of feasibility for the search","type":"string","enum":["simple","complete"]},"periodicity":{"description":"If set a datastack search will be performed. There will be up to 3 footprints with datastacks (grouped by groupId) taking periodicity and occerrences into account.","type":"integer","enum":[11,22,33,44,55,66,77,88,99]},"occurrences":{"description":"If set: Number of times a scene should be acquired. This parameter will only be used if periodicity is set and can be used for the acquisition of datastacks.","type":"integer","minimum":2,"maximum":50},"sensorMode":{"description":"The imaging/instrument/sensor mode to use for the acquisition","type":"string","enum":["SAR_ST_S","SAR_HS_S","SAR_HS_S_300","SAR_HS_S_150","SAR_HS_D","SAR_HS_D_300","SAR_HS_D_150","SAR_SL_S","SAR_SL_D","SAR_SM_S","SAR_SM_D","SAR_SC_S","SAR_WS_S"],"example":"SAR_SM_S"},"polarizationChannels":{"description":"The dual-polarization modes (HHVV, HHHV, VVVH) are not available for staring spotlight or (wide) ScanSAR modes. The polarization modes HV and VH are only available for Wide ScanSAR acquisitions.","type":"string","enum":["HH","VV","HV","VH","HHVV","HHHV","VVVH"],"example":"HH"},"incidenceAngle":{"description":"Incidence angle range in degrees. Only acquisitions with an average incidence angle in this range will be considered.","type":"object","additionalProperties":false,"properties":{"minimum":{"type":"number","minimum":10,"maximum":70,"example":30},"maximum":{"type":"number","minimum":10,"maximum":70,"example":50}}},"pathDirection":{"default":["ascending","descending"],"oneOf":[{"description":"Path or orbit direction","type":"string","default":"both","example":"ascending","enum":["ascending","descending","both"]},{"description":"Path or orbit direction","type":"array","items":{"type":"string","enum":["ascending","descending"]}}]},"lookDirection":{"description":"Look Direction. Left-looking acquisitions require special authorization.","type":"string","enum":["R","L"]},"outOfFullPerformance":{"description":"If set to true and the account is authorized, out of full performance scenes will be included in the response.","type":"boolean","default":false},"customer":{"type":"string","description":"name of the user's end customer (only relevant for resellers)"},"orderTemplate":{"type":"string"},"productType":{"description":"Product type for the processing of the acuqisition. Mandatory on placing the order, but not for feasibility.","type":"string","enum":["SSC","MGD","GEC","EEC"],"example":"EEC"},"resolutionVariant":{"description":"Radiometric or spatial enhancement. Mandatory on placing the order, but not for feasibility.","type":"string","enum":["SE","RE"]},"acquisitionOnly":{"description":"Acquisition is done and archived, but product will not be processed and deliverd. Requires special authorization.","type":"boolean","default":false},"receivingStation":{"description":"Downlink station to use for direct-access customers","type":"string","default":"NSG_POOL","example":"NSG_POOL"},"orbitType":{"description":"Near Realtime acquisitions will incur an additional fee. Science processing is most accurate but takes approx 5 days to complete. Mandatory on placing the order, but not for feasibility.","type":"string","enum":["Premium NRT","NRT","rapid","science"]},"geocodedIncidenceMask":{"description":"Include GIM in delivered product. Only applicable for EEC products.","type":"boolean","default":false},"mapProjection":{"description":"Projection of the delivered product. Mandatory on placing the order, but not for feasibility.","type":"string","default":"auto","enum":["auto","UTM","UPS"]},"gainAttenuation":{"description":"Processor gain Attenuation. Mandatory on placing the order, but not for feasibility.","type":"integer","default":0,"enum":[0,10,20]},"minimumCoverage":{"description":"Minimum percentage of the acquisition that has to be covered by the search AOI for it to be considered a match.","type":"number","minimum":0,"maximum":100,"default":25},"beamId":{"description":"Restrict search results to acquisitions with the given elevation beams. This search parameter is supported for the swath-modes <em>Stripmap</em>, <em>ScanSAR</em>, and <em>Wide ScanSAR</em> only.","default":"all","oneOf":[{"type":"string","enum":["all"]},{"description":"Identifier of the elevation beam. For a comprehensive characterization of each elevation beam please see the TerraSAR-X basic product specification.","type":"string","enum":["scan_001","scan_002","scan_003","scan_004","scan_005","scan_006","scan_007","scan_008","scan_009","scan_010","scan_011","scan_012","scan_013","scan_014","scan_015","scan_016","scan_017","scan_018","scan_019","scan_020","scan_021","scan_022","scan_023","scan_024","spot_001","spot_002","spot_003","spot_004","spot_005","spot_006","spot_007","spot_008","spot_009","spot_010","spot_011","spot_012","spot_013","spot_014","spot_015","spot_016","spot_017","spot_018","spot_019","spot_020","spot_021","spot_022","spot_023","spot_024","spot_025","spot_026","spot_027","spot_028","spot_029","spot_030","spot_031","spot_032","spot_033","spot_034","spot_035","spot_036","spot_037","spot_038","spot_039","spot_040","spot_041","spot_042","spot_043","spot_044","spot_045","spot_046","spot_047","spot_048","spot_049","spot_050","spot_051","spot_052","spot_053","spot_054","spot_055","spot_056","spot_057","spot_058","spot_059","spot_060","spot_061","spot_062","spot_063","spot_064","spot_065","spot_066","spot_067","spot_068","spot_069","spot_070","spot_071","spot_072","spot_073","spot_074","spot_075","spot_076","spot_077","spot_078","spot_079","spot_080","spot_081","spot_082","spot_083","spot_084","spot_085","spot_086","spot_087","spot_088","spot_089","spot_090","spot_091","spot_092","spot_093","spot_094","spot_095","spot_096","spot_097","spot_098","spot_099","spot_100","spot_101","spot_102","spot_103","spot_104","spot_105","spot_106","spot_107","spot_108","spot_109","spot_110","spot_111","spot_112","spot_113","spot_114","spot_115","spot_116","spot_117","spot_118","spot_119","spot_120","spot_121","spot_122","strip_001","strip_002","strip_003","strip_004","strip_005","strip_006","strip_007","strip_008","strip_009","strip_010","strip_011","strip_012","strip_013","strip_014","strip_015","strip_016","strip_017","strip_018","strip_019","strip_020","strip_021","strip_022","strip_023","strip_024","strip_025","strip_026","strip_027","stripFar_001","stripFar_002","stripFar_003","stripFar_004","stripFar_005","stripFar_006","stripFar_007","stripFar_008","stripFar_009","stripFar_010","stripFar_011","stripFar_012","stripFar_013","stripFar_014","stripFar_015","stripFar_016","stripFar_017","stripFar_018","stripFar_019","stripFar_020","stripFar_021","stripFar_022","stripFar_023","stripFar_024","stripFar_025","stripFar_026","stripFar_027","stripNear_001","stripNear_002","stripNear_003","stripNear_004","stripNear_005","stripNear_006","stripNear_007","stripNear_008","stripNear_009","stripNear_010","stripNear_011","stripNear_012","stripNear_013","stripNear_014","stripNear_015","stripNear_016","stripNear_017","stripNear_018","stripNear_019","stripNear_020","stripNear_021","stripNear_022","stripNear_023","stripNear_024","stripNear_025","stripNear_026","stripNear_027","wide_001","wide_002","wide_003","wide_004","wide_005"]},{"type":"array","items":{"description":"Identifier of the elevation beam. For a comprehensive characterization of each elevation beam please see the TerraSAR-X basic product specification.","type":"string","enum":["scan_001","scan_002","scan_003","scan_004","scan_005","scan_006","scan_007","scan_008","scan_009","scan_010","scan_011","scan_012","scan_013","scan_014","scan_015","scan_016","scan_017","scan_018","scan_019","scan_020","scan_021","scan_022","scan_023","scan_024","spot_001","spot_002","spot_003","spot_004","spot_005","spot_006","spot_007","spot_008","spot_009","spot_010","spot_011","spot_012","spot_013","spot_014","spot_015","spot_016","spot_017","spot_018","spot_019","spot_020","spot_021","spot_022","spot_023","spot_024","spot_025","spot_026","spot_027","spot_028","spot_029","spot_030","spot_031","spot_032","spot_033","spot_034","spot_035","spot_036","spot_037","spot_038","spot_039","spot_040","spot_041","spot_042","spot_043","spot_044","spot_045","spot_046","spot_047","spot_048","spot_049","spot_050","spot_051","spot_052","spot_053","spot_054","spot_055","spot_056","spot_057","spot_058","spot_059","spot_060","spot_061","spot_062","spot_063","spot_064","spot_065","spot_066","spot_067","spot_068","spot_069","spot_070","spot_071","spot_072","spot_073","spot_074","spot_075","spot_076","spot_077","spot_078","spot_079","spot_080","spot_081","spot_082","spot_083","spot_084","spot_085","spot_086","spot_087","spot_088","spot_089","spot_090","spot_091","spot_092","spot_093","spot_094","spot_095","spot_096","spot_097","spot_098","spot_099","spot_100","spot_101","spot_102","spot_103","spot_104","spot_105","spot_106","spot_107","spot_108","spot_109","spot_110","spot_111","spot_112","spot_113","spot_114","spot_115","spot_116","spot_117","spot_118","spot_119","spot_120","spot_121","spot_122","strip_001","strip_002","strip_003","strip_004","strip_005","strip_006","strip_007","strip_008","strip_009","strip_010","strip_011","strip_012","strip_013","strip_014","strip_015","strip_016","strip_017","strip_018","strip_019","strip_020","strip_021","strip_022","strip_023","strip_024","strip_025","strip_026","strip_027","stripFar_001","stripFar_002","stripFar_003","stripFar_004","stripFar_005","stripFar_006","stripFar_007","stripFar_008","stripFar_009","stripFar_010","stripFar_011","stripFar_012","stripFar_013","stripFar_014","stripFar_015","stripFar_016","stripFar_017","stripFar_018","stripFar_019","stripFar_020","stripFar_021","stripFar_022","stripFar_023","stripFar_024","stripFar_025","stripFar_026","stripFar_027","stripNear_001","stripNear_002","stripNear_003","stripNear_004","stripNear_005","stripNear_006","stripNear_007","stripNear_008","stripNear_009","stripNear_010","stripNear_011","stripNear_012","stripNear_013","stripNear_014","stripNear_015","stripNear_016","stripNear_017","stripNear_018","stripNear_019","stripNear_020","stripNear_021","stripNear_022","stripNear_023","stripNear_024","stripNear_025","stripNear_026","stripNear_027","wide_001","wide_002","wide_003","wide_004","wide_005"]}}]},"relativeOrbit":{"description":"Restrict search results to acquisitions with the given relative orbit numbers. Note that the relative orbit numbers of the TerraSAR-X and PAZ missions are not equivalent.","default":"all","oneOf":[{"type":"string","enum":["all"]},{"description":"Relative orbit number at the start of the acquisition. Note that the relative orbit numbers of the TerraSAR-X and PAZ missions are not equivalent.","type":"integer","minimum":1,"maximum":167},{"type":"array","items":{"description":"Relative orbit number at the start of the acquisition. Note that the relative orbit numbers of the TerraSAR-X and PAZ missions are not equivalent.","type":"integer","minimum":1,"maximum":167}}]}}},"example":{"aoi":{"type":"Polygon","coordinates":[[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]},"tags":["Project 1"],"time":{"from":"2022-10-14T13:28:03.569Z","to":"2022-10-24T13:28:03.569Z"},"mission":["TSX","PAZ"],"feasibilityLevel":"complete","sensorMode":"SAR_SM_S","polarizationChannels":"HH","incidenceAngle":{"minimum":30,"maximum":50},"pathDirection":["ascending","descending"],"lookDirection":"R","outOfFullPerformance":false,"orderTemplate":"default","productType":"EEC","resolutionVariant":"SE","acquisitionOnly":false,"receivingStation":"NSG_POOL","orbitType":"NRT","geocodedIncidenceMask":false,"mapProjection":"auto","gainAttenuation":0}}}},"responses":{"200":{"description":"Possible acquisitions","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["type","features"],"properties":{"type":{"type":"string","enum":["FeatureCollection"]},"features":{"type":"array","items":{"allOf":[{"allOf":[{"type":"object","required":["type","geometry","properties"],"properties":{"type":{"type":"string","enum":["Feature"]},"geometry":{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Polygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}},"example":{"type":"Polygon","coordinates":[[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]}},"properties":{"type":"object","required":["itemId","mission","acquisitionId","startTime","stopTime","sensorMode","polarizationChannels","beamId","pathDirection","lookDirection","incidenceAngle","lastUpdateTime","status","outOfFullPerformance"],"properties":{"itemId":{"type":"string","format":"uuid"},"mission":{"description":"Satellite mission","type":"string","enum":["TSX","PAZ"]},"satellite":{"description":"Satellite","type":"string","enum":["TSX-1","PAZ-1","TDX-1"]},"acquisitionId":{"type":"string","example":"TSX-1_ST_S_spot_049R_49677_D31767159_432"},"groupId":{"type":"integer"},"startTime":{"type":"string","format":"date-time"},"stopTime":{"type":"string","format":"date-time"},"sensorMode":{"description":"The imaging/instrument/sensor mode to use for the acquisition","type":"string","enum":["SAR_ST_S","SAR_HS_S","SAR_HS_S_300","SAR_HS_S_150","SAR_HS_D","SAR_HS_D_300","SAR_HS_D_150","SAR_SL_S","SAR_SL_D","SAR_SM_S","SAR_SM_D","SAR_SC_S","SAR_WS_S"],"example":"SAR_SM_S"},"polarizationChannels":{"description":"The dual-polarization modes (HHVV, HHHV, VVVH) are not available for staring spotlight or (wide) ScanSAR modes. The polarization modes HV and VH are only available for Wide ScanSAR acquisitions.","type":"string","enum":["HH","VV","HV","VH","HHVV","HHHV","VVVH"],"example":"HH"},"beamId":{"description":"Identifier of the elevation beam. For a comprehensive characterization of each elevation beam please see the TerraSAR-X basic product specification.","type":"string","enum":["scan_001","scan_002","scan_003","scan_004","scan_005","scan_006","scan_007","scan_008","scan_009","scan_010","scan_011","scan_012","scan_013","scan_014","scan_015","scan_016","scan_017","scan_018","scan_019","scan_020","scan_021","scan_022","scan_023","scan_024","spot_001","spot_002","spot_003","spot_004","spot_005","spot_006","spot_007","spot_008","spot_009","spot_010","spot_011","spot_012","spot_013","spot_014","spot_015","spot_016","spot_017","spot_018","spot_019","spot_020","spot_021","spot_022","spot_023","spot_024","spot_025","spot_026","spot_027","spot_028","spot_029","spot_030","spot_031","spot_032","spot_033","spot_034","spot_035","spot_036","spot_037","spot_038","spot_039","spot_040","spot_041","spot_042","spot_043","spot_044","spot_045","spot_046","spot_047","spot_048","spot_049","spot_050","spot_051","spot_052","spot_053","spot_054","spot_055","spot_056","spot_057","spot_058","spot_059","spot_060","spot_061","spot_062","spot_063","spot_064","spot_065","spot_066","spot_067","spot_068","spot_069","spot_070","spot_071","spot_072","spot_073","spot_074","spot_075","spot_076","spot_077","spot_078","spot_079","spot_080","spot_081","spot_082","spot_083","spot_084","spot_085","spot_086","spot_087","spot_088","spot_089","spot_090","spot_091","spot_092","spot_093","spot_094","spot_095","spot_096","spot_097","spot_098","spot_099","spot_100","spot_101","spot_102","spot_103","spot_104","spot_105","spot_106","spot_107","spot_108","spot_109","spot_110","spot_111","spot_112","spot_113","spot_114","spot_115","spot_116","spot_117","spot_118","spot_119","spot_120","spot_121","spot_122","strip_001","strip_002","strip_003","strip_004","strip_005","strip_006","strip_007","strip_008","strip_009","strip_010","strip_011","strip_012","strip_013","strip_014","strip_015","strip_016","strip_017","strip_018","strip_019","strip_020","strip_021","strip_022","strip_023","strip_024","strip_025","strip_026","strip_027","stripFar_001","stripFar_002","stripFar_003","stripFar_004","stripFar_005","stripFar_006","stripFar_007","stripFar_008","stripFar_009","stripFar_010","stripFar_011","stripFar_012","stripFar_013","stripFar_014","stripFar_015","stripFar_016","stripFar_017","stripFar_018","stripFar_019","stripFar_020","stripFar_021","stripFar_022","stripFar_023","stripFar_024","stripFar_025","stripFar_026","stripFar_027","stripNear_001","stripNear_002","stripNear_003","stripNear_004","stripNear_005","stripNear_006","stripNear_007","stripNear_008","stripNear_009","stripNear_010","stripNear_011","stripNear_012","stripNear_013","stripNear_014","stripNear_015","stripNear_016","stripNear_017","stripNear_018","stripNear_019","stripNear_020","stripNear_021","stripNear_022","stripNear_023","stripNear_024","stripNear_025","stripNear_026","stripNear_027","wide_001","wide_002","wide_003","wide_004","wide_005"]},"pathDirection":{"description":"Path or orbit direction","type":"string","example":"ascending","enum":["ascending","descending"]},"lookDirection":{"description":"Look Direction. Left-looking acquisitions require special authorization.","type":"string","enum":["R","L"]},"incidenceAngle":{"description":"Incidence angle range in degrees. Only acquisitions with an average incidence angle in this range will be considered.","type":"object","additionalProperties":false,"properties":{"minimum":{"type":"number","minimum":10,"maximum":70,"example":30},"maximum":{"type":"number","minimum":10,"maximum":70,"example":50}}},"productType":{"description":"Product type for the processing of the acuqisition. Mandatory on placing the order, but not for feasibility.","type":"string","enum":["SSC","MGD","GEC","EEC"],"example":"EEC"},"resolutionVariant":{"description":"Radiometric or spatial enhancement. Mandatory on placing the order, but not for feasibility.","type":"string","enum":["SE","RE"]},"orbitType":{"description":"Near Realtime acquisitions will incur an additional fee. Science processing is most accurate but takes approx 5 days to complete. Mandatory on placing the order, but not for feasibility.","type":"string","enum":["Premium NRT","NRT","rapid","science"]},"geocodedIncidenceMask":{"description":"Include GIM in delivered product. Only applicable for EEC products.","type":"boolean","default":false},"mapProjection":{"description":"Projection of the delivered product. Mandatory on placing the order, but not for feasibility.","type":"string","default":"auto","enum":["auto","UTM","UPS"]},"gainAttenuation":{"description":"Processor gain Attenuation. Mandatory on placing the order, but not for feasibility.","type":"integer","default":0,"enum":[0,10,20]},"relativeOrbit":{"description":"Relative orbit number at the start of the acquisition. Note that the relative orbit numbers of the TerraSAR-X and PAZ missions are not equivalent.","type":"integer","minimum":1,"maximum":167},"absoluteOrbit":{"type":"integer"},"customer":{"type":"string","description":"name of the user's end customer (only relevant for resellers)"},"orderTemplate":{"type":"string"},"lastUpdateTime":{"type":"string","format":"date-time"},"status":{"description":"Status of item","type":"string","enum":["feasible","availableInArchive","unavailable","submitted","waitingForAcquisitionApproval","accepted","planned","acquisition","transition","downlink","waitingForOrbit","processing","waitingForDeliveryApproval","delivery","completed","failed","cancelled","approvalRejected"]},"sensitivity":{"type":"object","additionalProperties":false,"required":["status"],"properties":{"status":{"type":"string","enum":["none","potential","expected"]},"missingParameters":{"description":"parameters that need to be set to get a definite sensitivity status","type":"array","items":{"type":"string"},"example":["productType","resolutionVariant"]},"rationales":{"type":"array","items":{"type":"string","enum":["location","resolution"]}}}},"itemType":{"type":"string","enum":["catalogue","future"]},"outOfFullPerformance":{"description":"If set to true and the account is authorized, out of full performance scenes will be included in the response.","type":"boolean","default":false},"scienceOrbitAvailability":{"type":"boolean"},"quicklookUrl":{"deprecated":true,"type":"string","format":"uri"},"parentItemId":{"type":"string","format":"uuid"}}},"assets":{"type":"object","additionalProperties":{"type":"object","properties":{"href":{"type":"string","format":"uri"},"roles":{"type":"array","items":{"type":"string"}},"title":{"type":"string"},"type":{"type":"string"}},"required":["href"]}}}},{"type":"object","properties":{"properties":{"type":"object","properties":{"submissionDeadline":{"type":"string","format":"date-time"},"acquisitionOnly":{"description":"Acquisition is done and archived, but product will not be processed and deliverd. Requires special authorization.","type":"boolean","default":false},"priority":{"description":"Higher priority orders have a better chance of success but incur an additional fee","type":"string","enum":["standard","priority","exclusive"],"example":"standard"},"conflicts":{"type":"object","properties":{"status":{"type":"string","enum":["none","potential","expected"]},"external":{"type":"object","additionalProperties":{"type":"object","properties":{"status":{"type":"string","enum":["none","potential","expected"]},"startTime":{"type":"string","format":"date-time"},"stopTime":{"type":"string","format":"date-time"}},"minLength":1}},"baskets":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"status":{"type":"string","enum":["none","potential","expected"]},"startTime":{"type":"string","format":"date-time"},"stopTime":{"type":"string","format":"date-time"}},"minLength":1}},"minLength":1},"shopcart":{"type":"object","additionalProperties":{"type":"object","properties":{"status":{"type":"string","enum":["none","potential","expected"]},"startTime":{"type":"string","format":"date-time"},"stopTime":{"type":"string","format":"date-time"}},"minLength":1}},"feasibility":{"type":"object","additionalProperties":{"type":"object","properties":{"status":{"type":"string","enum":["none","potential","expected"]},"startTime":{"type":"string","format":"date-time"},"stopTime":{"type":"string","format":"date-time"}},"minLength":1}}},"required":["status"]},"estimatedDownloadAvailability":{"type":"string","format":"date-time"},"receivingStation":{"description":"Downlink station to use for direct-access customers","type":"string","default":"NSG_POOL","example":"NSG_POOL"}}}}},{"type":"object","properties":{"properties":{"type":"object","properties":{"expiry":{"type":"string","format":"date-time"}}}}}]},{"type":"object","properties":{"properties":{"type":"object","properties":{"coverage":{"description":"Percentage of the acquisition that is covered by the search AOI. When using points as AOIs the coverage is always 100 %.","type":"number","minimum":0,"maximum":100}}}}}]}},"bbox":{"description":"Rectangular bounding box of all geometries within the collection. The members of the array are <em>minLon</em>, <em>minLat</em>, <em>maxLon</em>, and <em>maxLat</em>; i.e. the coordinates of the southwesterly point followed by the coordinates of the northeasterly point.","type":"array","items":{"type":"number"},"minItems":4,"maxItems":4}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"401":{"description":"Authorization information is missing or invalid.","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}},"503":{"description":"Connection to internal service error","content":{"application/json":{"schema":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","pattern":"^[A-Za-z0-9]+[A-Z-a-z0-9_\\-]*[A-Za-z0-9]$"},"message":{"type":"string"},"location":{"type":"string"},"detail":{"type":"string"},"params":{"type":"object"}}}}}}}}},"/sar/catalogue":{"post":{"summary":"search for possible acquisitions in catalogue","tags":["sar/search"],"requestBody":{"description":"Search parameters","required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"limit":{"type":"integer","minimum":1,"default":200},"aoi":{"oneOf":[{"allOf":[{"description":"Polygon for catalogue search"},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Polygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}},"example":{"type":"Polygon","coordinates":[[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]}}]},{"allOf":[{"description":"MultiPolygon for catalogue search"},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["MultiPolygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}}},"example":{"type":"MultiPolygon","coordinates":[[[[8.346,47.788],[8.291,47.644],[8.538,47.592],[8.62,47.75],[8.511,47.802],[8.346,47.788]],[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]]}}]},{"allOf":[{"description":"Point for catalogue search"},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Point"]},"coordinates":{"type":"array","minLength":2,"items":{"type":"number"}}},"example":{"type":"Point","coordinates":[9.346,47.788]}}]},{"allOf":[{"description":"GeometryCollection for catalogue search"},{"type":"object","required":["type","geometries"],"properties":{"type":{"type":"string","enum":["GeometryCollection"]},"geometries":{"type":"array","minLength":1,"items":{"oneOf":[{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Point"]},"coordinates":{"type":"array","minLength":2,"items":{"type":"number"}}},"example":{"type":"Point","coordinates":[9.346,47.788]}},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["Polygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}},"example":{"type":"Polygon","coordinates":[[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]}},{"type":"object","required":["type","coordinates"],"properties":{"type":{"type":"string","enum":["MultiPolygon"]},"coordinates":{"type":"array","minLength":1,"items":{"type":"array","minLength":1,"items":{"type":"array","minLength":3,"items":{"type":"array","minLength":2,"items":{"type":"number"}}}}}},"example":{"type":"MultiPolygon","coordinates":[[[[8.346,47.788],[8.291,47.644],[8.538,47.592],[8.62,47.75],[8.511,47.802],[8.346,47.788]],[[9.346,47.788],[9.291,47.644],[9.538,47.592],[9.62,47.75],[9.511,47.802],[9.346,47.788]]]]}}]}}}}]}]},"catalogueTime":{"allOf":[{"description":"Time range of time an acquisition has been added to the catalogue."},{"type":"object","additionalProperties":false,"properties":{"from":{"type":"string","format":"date-time","example":"2021-10-14T13:28:03.569Z"},"to":{"type":"string","format":"date-time","example":"2021-10-24T13:28:03.569Z"}}}]},"time":{"allOf":[{"description":"Time range of acquisition"},{"type":"object","additionalProperties":false,"properties":{"from":{"type":"string","format":"date-time","example":"2021-10-14T13:28:03.569Z"},"to":{"type":"string","format":"date-time","example":"2021-10-24T13:28:03.569Z"}}}]},"mission":{"oneOf":[{"description":"Array of Satellite missions","type":"array","items":{"type":"string","enum":["TSX","PAZ"]},"default":["TSX","PAZ"],"example":["TSX","PAZ"]},{"description":"Satellite mission","type":"string","default":"all","enum":["TSX","PAZ","all"]}]},"satellite":{"default":"all","description":"Satellite","oneOf":[{"type":"string","enum":["TSX-1","PAZ-1","TDX-1","all"]},{"type":"array","items":{"type":"string","enum":["TSX-1","PAZ-1","TDX-1"]}}]},"occurrences":{"description":"If set: minimum size of datastacks.","type":"integer","minimum":2},"sensorMode":{"default":"all","oneOf":[{"description":"The imaging/instrument/sensor mode of the acquisition","type":"string","enum":["SAR_ST_S","SAR_HS_S","SAR_HS_S_300","SAR_HS_S_150","SAR_HS_D","SAR_HS_D_300","SAR_HS_D_150","SAR_SL_S","SAR_SL_D","SAR_SM_S","SAR_SM_D","SAR_SC_S","SAR_WS_S","all"],"example":"SAR_SM_S"},{"description":"The imaging/instrument/sensor mode of the acquisition","type":"array","items":{"type":"string","enum":["SAR_ST_S","SAR_HS_S","SAR_HS_S_300","SAR_HS_S_150","SAR_HS_D","SAR_HS_D_300","SAR_HS_D_150","SAR_SL_S","SAR_SL_D","SAR_SM_S","SAR_SM_D","SAR_SC_S","SAR_WS_S"]}}]},"polarizationChannels":{"default":"all","oneOf":[{"description":"The dual-polarization modes (HHVV, HHHV, VVVH) are not available for staring spotlight or (wide) ScanSAR modes. The polarization modes HV and VH are only available for Wide ScanSAR acquisitions.","type":"string","enum":["HH","VV","HV","VH","HHVV","HHHV","VVVH","all"]},{"description":"The dual-polarization modes (HHVV, HHHV, VVVH) are not available for staring spotlight or (wide) ScanSAR modes. The polarization modes HV and VH are only available for Wide ScanSAR acquisitions.","type":"array","items":{"type":"string","enum":["HH","VV","HV","VH","HHVV","HHHV","VVVH"]}}]},"incidenceAngle":{"description":"Incidence angle range in degrees. Only acquisitions with an average incidence angle in this range will be considered.","type":"object","additionalProperties":false,"properties":{"minimum":{"type":"number","minimum":10,"maximum":70,"example":30},"maximum":{"type":"number","minimum":10,"maximum":70,"example":50}}},"pathDirection":{"default":["ascending","descending"],"oneOf":[{"description":"Path or orbit direction","type":"string","default":"both","example":"ascending","enum":["ascending","descending","both"]},{"description":"Path or orbit direction","type":"array","items":{"type":"string","enum":["ascending","descending"]}}]},"lookDirection":{"default":["R","L"],"oneOf":[{"description":"Look Direction. Left-looking acquisitions require special authorization.","type":"string","enum":["R","L","both"]},{"description":"Look Direction. Left-looking acquisitions require special authorization.","type":"array","items":{"type":"string","enum":["R","L"]}}]},"beamId":{"description":"Restrict search results to acquisitions with the given elevation beams.","default":"all","oneOf":[{"type":"string","enum":["all"]},{"description":"Identifier of the elevation beam. For a comprehensive characterization of each elevation beam please see the TerraSAR-X basic product specification.","type":"string","enum":["scan_001","scan_002","scan_003","scan_004","scan_005","scan_006","scan_007","scan_008","scan_009","scan_010","scan_011","scan_012","scan_013","scan_014","scan_015","scan_016","scan_017","scan_018","scan_019","scan_020","scan_021","scan_022","scan_023","scan_024","spot_001","spot_002","spot_003","spot_004","spot_005","spot_006","spot_007","spot_008","spot_009","spot_010","spot_011","spot_012","spot_013","spot_014","spot_015","spot_016","spot_017","spot_018","spot_019","spot_020","spot_021","spot_022","spot_023","spot_024","spot_025","spot_026","spot_027","spot_028","spot_029","spot_030","spot_031","spot_032","spot_033","spot_034","spot_035","spot_036","spot_037","spot_038","spot_039","spot_040","spot_041","spot_042","spot_043","spot_044","spot_045","spot_046","spot_047","spot_048","spot_049","spot_050","spot_051","spot_052","spot_053","spot_054","spot_055","spot_056","spot_057","spot_058","spot_059","spot_060","spot_061","spot_062","spot_063","spot_064","spot_065","spot_066","spot_067","spot_068","spot_069","spot_070","spot_071","spot_072","spot_073","spot_074","spot_075","spot_076","spot_077","spot_078","spot_079","spot_080","spot_081","spot_082","spot_083","spot_084","spot_085","spot_086","spot_087","spot_088","spot_089","spot_090","spot_091","spot_092","spot_093","spot_094","spot_095","spot_096","spot_097","spot_098","spot_099","spot_100","spot_101","spot_102","spot_103","spot_104","spot_105","spot_106","spot_107","spot_108","spot_109","spot_110","spot_111","spot_112","spot_113","spot_114","spot_115","spot_116","spot_117","spot_118","spot_119","spot_120","spot_121","spot_122","strip_001","strip_002","strip_003","strip_004","strip_005","strip_006","strip_007","strip_008","strip_009","strip_010","strip_011","strip_012","strip_013","strip_014","strip_015","strip_016","strip_017","strip_018","strip_019","strip_020","strip_021","strip_022","strip_023","strip_024","strip_025","strip_026","strip_027","stripFar_001","stripFar_002","stripFar_003","stripFar_004","stripFar_005","stripFar_006","stripFar_007","stripFar_008","stripFar_009","stripFar_010","stripFar_011","stripFar_012","stripFar_013","stripFar_014","stripFar_015","stripFar_016","stripFar_017","stripFar_018","stripFar_019","stripFar_020","stripFar_021","stripFar_022","stripFar_023","stripFar_024","stripFar_025","stripFar_026","stripFar_027","stripNear_001","stripNear_002","stripNear_003","stripNear_004","stripNear_005","stripNear_006","stripNear_007","stripNear_008","stripNear_009","stripNear_010","stripNear_011","stripNear_012","stripNear_013","stripNear_014","stripNear_015","stripNear_016","stripNear_017","stripNear_018","stripNear_019","stripNear_020","stripNear_021","stripNear_022","stripNear_023","stripNear_024","stripNear_025","stripNear_026","stripNear_027","wide_001","wide_002","wide_003","wide_004","wide_005"]},{"type":"array","items":{"description":"Identifier of the elevation beam. For a comprehensive characterization of each elevation beam please see the TerraSAR-X basic product specification.","type":"string","enum":["scan_001","scan_002","scan_003","scan_004","scan_005","scan_006","scan_007","scan_008","scan_009","scan_010","scan_011","scan_012","scan_013","scan_014","scan_015","scan_016","scan_017","scan_018","scan_019","scan_020","scan_021","scan_022","scan_023","scan_024","spot_001","spot_002","spot_003","spot_004","spot_005","spot_006","spot_007","spot_008","spot_009","spot_010","spot_011","spot_012","spot_013","spot_014","spot_015","spot_016","spot_017","spot_018","spot_019","spot_020","spot_021","spot_022","spot_023","spot_024","spot_025","spot_026","spot_027","spot_028","spot_029","spot_030","spot_031","spot_032","spot_033","spot_034","spot_035","spot_036","spot_037","spot_038","spot_039","spot_040","spo
[...]
